*,
*::before,
*::after{
		box-sizing: border-box;
}

html{
	body{
		font-family: sans-serif;
		font-variant-emoji: text;
		display: flex;
		header{
			
		}
	}
}
@media (prefers-color-scheme: dark){
	header{
		img{
			filter: invert(100%);
		}
	}
}
