:root{
	--bck_color:#eee;
	--haf_bck_color:#0ce;
	--haf_link_in_color:#456;
	--haf_img_rod:invert(0%);
	--acs_color:#112;
	--btn_bck_color:#ddd;
	--btn_bdr_color:#bbb;
	--btn_bck_in_color:#ccc;
	--btn_bdr_in_color:#aaa;
	--btn_txt_color:#112;
	--btn_in_img_rod:brightness(80%);
	--link_color:#07d;
	--link_color_ace:#90e;
	--link_color_in:#1cd;
	--link_color_ace_in:#c1d;
	--kmk-vdo_bck_color:#0ad;
	--vdo_acs_color:#eee;
	--vdo_link_color:#cde;
	--vdo_link_in_color:#dee;
	--vdo_ex_bck_color:#e05;
	--vdo_inf_bck_color:#05e;
}
*{
	box-sizing: border-box;
	overflow-wrap: break-word;
}
html {
	height: 100%;
}

body{
	font-family: sans-serif;
	font-size: 1rem;
	font-variant-emoji: text;
	height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--bck_color);
	margin: 0px;
	color: var(--acs_color);
	button{
		color:var(--btn_txt_color);
		border-radius:5px;
		text-align: center;
		background-color: var(--btn_bck_color);
		border: 2px solid var(--btn_bdr_color);
		margin: 5px;
		img{
			display: inline-block;
			text-align: center;
		}
		&:hover{
			cursor: pointer;
			background-color: var(--btn_bck_in_color);
			border: 2px solid var(--btn_bdr_in_color);
			img{
				filter: var(--btn_in_img_rod);
			}
		}
	}
	header{
		background-color: var(--haf_bck_color);
		margin: 0px;
		padding: 8px;
		#hedaer_div_two{
			display: flex;
			img{
				filter: var(--haf_img_rod);
				display: flex;
				width: 50px;
				height: 50px;
				margin: 5px;
			}
		}
		width: 100%;
		h1{
			 font-size: 25px;
		}
		a{
			color: var(--acs_color);
			text-decoration:none;
		}
		a:hover{
			color: var(--haf_link_in_color);
		}
	}
	main,footer{
		border-radius:5px;
		padding: 8px;
		a{
			color:var(--link_color);
			text-decoration: none;
			&:visited{
				color:var(--link_color_ace);
			}
			&:hover{
				color: var(--link_color_in);
				&:visited{
					color: var(--link_color_ace_in);
				}
			}
		}
		a[target="_blank"]::after{
			content: "　";
			width: 0.9m;
			height: 0.9em;
			display:inline-block;
			background-color: currentColor;
			mask: url(/img/_brank.svg) no-repeat center;
			mask-size: contain;
		}
		.osusume{
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			button{
				width: 300px;
			}
		}
		.onaji{
			height: 200px;
		}
		ul{
			list-style-type: disc;
		}
		.rss_css{
			button{
				aspect-ratio: 1/1;
			}
			.rss_css_two
			{
				border: solid 1px var(--acs_color);
				border-radius: 5px;
				padding: 3px;
				overflow-y:auto;
				width: 95vw;
				height: 250px;
			}
			ul{
				list-style-type: none;
    		margin: 0;
    		padding: 0;
				li{
					border-radius:5px;
					margin: 5px;
					padding: 1px;
					padding-left: 5px;
					border: solid 1px var(--acs_color);
				}
			}
		}
		th,td{
			padding: 2px;
			border: solid 1px;
		}
		.koumoku{
			margin: 8px;
			padding:0px;
			border:2px solid var(--kmk-vdo_bck_color);
			.day{
				font-size: 1.1em;
				&::before{
					content: "";
					width: 1.2em;
					height: 1.2em;
					display:inline-block;
					background-color: currentColor;
					mask: url(/img/day.svg) no-repeat center;
					background-size: contain;
					mask-size: contain;
					vertical-align: -0.17em;
					margin: 1px;
				}
				background-color: var(--kmk-vdo_bck_color);
			}
			h3{
				font-size:1.2em;
				margin: 0px;
				padding:0px;
				background-color: var(--kmk-vdo_bck_color);
			}
			p{
				margin:4px;
			}
		}
		svg{
			margin-top: 5px;
		}
		.videosty{
			border-radius: 5px;
			background-color: var(--kmk-vdo_bck_color);
			color: var(--vdo_acs_color);
			margin: 1vh;
			padding: 2px;
			a{
				color:var(--vdo_link_color);
			}
			a:hover{
				color: var(--vdo_link_in_color);
			}
			.title{
				border-radius: 5px;
				margin-top: 0px;
				background-color: var(--kmk-vdo_bck_color);
				font-weight: bold;
				padding: 2px;
			}
			.EX{
				border-radius: 5px;
				background-color: var(--vdo_ex_bck_color);
				padding: 2px;
			}
			.info{
				border-radius: 5px;
				padding: 2px;
				background-color: var(--vdo_inf_bck_color);
			}
		}
		table{
			border-collapse:	collapse;
			tr{
				margin: 10px;
				th{
					padding: 3px;
				}
				td{
					padding: 3px;
				}
			}
		}
		.index{
			border: solid;
			padding: 0px;
			max-width: 500px;
		}
		.index::before{
			content: "目次";
			font-size: 20px;
		}
	}
	main{
		flex: 1;
	}
	footer{
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: var(--haf_bck_color);
		a{
			color: var(--acs_color);
			&:visited{
				color: var(--acs_color);
			}
			&:hover{
				color: var(--haf_link_in_color);
				&:visited{
					color: var(--haf_link_in_color);
				}
			}
		}
		button{
			font-weight: bold;
			width: 50px;
			height: 50px;
			font-size: 32px;
		}
	}
}
:root {
	color-scheme: light dark;
}
